<div class="edit">
  <div class="container">
    <form>
        <div class="form-head">
          <div class="btn-edit">
            <img src="../../../../assets/icons/edit.svg" alt="">
          </div>
          <h2>Editar perfil</h2>
          <hr class="line">
          <div class="camp-obg">
            <img src="../../../../assets/icons/asterisco.svg" alt="">
            <p>Campos obrigatórios</p>
          </div>
          <button routerLink="/dashboard/client">
            <img src="../../../../assets/icons/close.svg" alt="">
          </button>
        </div>

        <div class="form-camp mb-3 mt-4">
          <label for="exampleInputName" class="form-label">
            Nome
            <img src="../../../../assets/icons/asterisco.svg" alt="">
          </label>

          <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp"
            placeholder="Insira seu nome">
        </div>

        <div class="form-camp mb-3 mt-4">
          <label for="exampleInputEmail1" class="form-label">
            E-mail
            <img src="../../../../assets/icons/asterisco.svg" alt="">
          </label>

          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Insira seu e-mail">
        </div>

        <div class="form-check mb-3 mt-4">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Alterar senha</label>
        </div>

        <!-- Utilizar a classe checkend para deixar o form desativado -->
        <div class="form-camp checked mb-3 mt-4">
          <label for="exampleInputPassword1" class="form-label">
            Senha atual
            <img src="../../../../assets/icons/asterisco.svg" alt="">
          </label>

          <input type="password" class="form-control" id="exampleInputPassword1" aria-describedby="PasswordHelp"
            placeholder="Insira sua senha">
        </div>

        <div class="form-camp checked mb-3 mt-4">
          <label for="exampleInputResPassword1" class="form-label">
            Nova senha
            <img src="../../../../assets/icons/asterisco.svg" alt="">
          </label>

          <input type="password" class="form-control" id="exampleInputResPassword1" aria-describedby="ResPasswordHelp"
            placeholder="Insira a nova senha">
        </div>

        <div class="form-camp checked mb-3 mt-4">
          <label for="exampleInputResPassword1" class="form-label">
            Confirmar senha
            <img src="../../../../assets/icons/asterisco.svg" alt="">
          </label>

          <input type="password" class="form-control" id="exampleInputResPassword1" aria-describedby="ResPasswordHelp"
            placeholder="Confirme a nova senha">
        </div>

      <div class="form-btn mb-3 mt-4">
        <button routerLink="/dashboard/client" type="button" class="btn btn-canc">Cancelar</button>
        <button type="button" class="btn btn-safe disabled">Salvar</button>
      </div>
    </form>
  </div>
</div>
