footer{
  border-top: 1px solid var(--grayscale-500, #2F3337);
  background: var(--grayscale-600, #212529);
  position: fixed;
  width: calc(100% - 52px);
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 8px 48px;
  bottom: 0;
  right: 0;
  p{
    margin: 0;
    color: var(--grayscale-400, #6C757D);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.5px;

    a{
      color: var(--grayscale-400, #6C757D);
    }
  }
}
