
<div class="dash-sub-header-NoC">
  <h1 class="h4">Clientes</h1>

  <button routerLink="/dashboard/client/add" type="button" class="btn btn-primary">Adicionar cliente</button>

</div>

<div class="dash-body-No none">
  <div class="box-body">
    <img src="../../../assets/icons/sem-clientes.svg" alt="">
    <h2 class="h5">Nenhum cliente cadastrado!</h2>
  </div>
</div>

<div class="dash-body-Ye ">
  <table class="table">

    <thead>
      <tr class="table-header">
        <th class="col-8">
          Nome - CPF/CNPJ

        </th>

        <th class="col-2 text-center">Situação</th>

        <th class="col-3 text-center">Data do cadastro</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr class="table-body">
        <td>
          <div class="name">
            <p>
              John Rodrigues
            </p>
            <p>062.257.081.11</p>
          </div>
        </td>

        <td>
          <div class="Situacao-btn text-start">

            <div class="btn-ativo ">
              Ativo
            </div>

            <div class="btn-negative none">
              Negativo
            </div>

            <div class="btn-inativo none">
              Inativo
            </div>

          </div>
        </td>

        <td class="date">
          <div>
            28/06/1998
          </div>
        </td>

        <td>
          <div class="body-icons">
            <a routerLink="/dashboard/client/edit">
              <img src="../../../assets/icons/edit.svg" alt="">
            </a>
            <a href="">
              <img src="../../../assets/icons/delete.svg" alt="">
            </a>
          </div>
        </td>
      </tr>

      <tr class="table-body">
        <td>
          <div class="name">
            <p>
              John Rodrigues
            </p>
            <p>062.257.081.11</p>
          </div>
        </td>

        <td>
          <div class="Situacao-btn text-start">

            <div class="btn-ativo none">
              Ativo
            </div>

            <div class="btn-negative">
              Negativo
            </div>

            <div class="btn-inativo none">
              Inativo
            </div>

          </div>
        </td>

        <td class="date">
          <div>
            28/06/1998
          </div>
        </td>

        <td>
          <div class="body-icons">
            <a href="">
              <img src="../../../assets/icons/edit.svg" alt="">
            </a>
            <a href="">
              <img src="../../../assets/icons/delete.svg" alt="">
            </a>
          </div>
        </td>
      </tr>

      <tr class="table-body">
        <td>
          <div class="name">
            <p>
              John Rodrigues
            </p>
            <p>062.257.081.11</p>
          </div>
        </td>

        <td>
          <div class="Situacao-btn text-start">

            <div class="btn-ativo none">
              Ativo
            </div>

            <div class="btn-negative none">
              Negativo
            </div>

            <div class="btn-inativo ">
              Inativo
            </div>

          </div>
        </td>

        <td class="date">
          <div>
            28/06/1998
          </div>
        </td>

        <td>
          <div class="body-icons">
            <a href="">
              <img src="../../../assets/icons/edit.svg" alt="">
            </a>
            <a href="">
              <img src="../../../assets/icons/delete.svg" alt="">
            </a>
          </div>
        </td>
      </tr>

      <tr class="table-body">
        <td>
          <div class="name">
            <p>
              John Rodrigues
            </p>
            <p>062.257.081.11</p>
          </div>
        </td>

        <td>
          <div class="Situacao-btn text-start">

            <div class="btn-ativo">
              Ativo
            </div>

            <div class="btn-negative none">
              Negativo
            </div>

            <div class="btn-inativo none">
              Inativo
            </div>

          </div>
        </td>

        <td class="date">
          <div>
            28/06/1998
          </div>
        </td>

        <td>
          <div class="body-icons">
            <a href="">
              <img src="../../../assets/icons/edit.svg" alt="">
            </a>
            <a href="">
              <img src="../../../assets/icons/delete.svg" alt="">
            </a>
          </div>
        </td>
      </tr>
    </tbody>

  </table>

</div>

<app-footer></app-footer>
